body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3.5em;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 800px;
}

label {
    font-size: 1.2em;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
}

textarea {
    resize: vertical;
}

.button-container {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    margin-top: 20px;
    gap: 20px; /* Espaço entre os botões */
}

input[type="submit"],
input[type="button"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    width: 150px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

input[type="submit"]:hover,
input[type="button"]:hover {
    background-color: #0056B3;
}
