body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3.5em;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

form {
    background-color: #f2f2f2;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    width: 800px;
}

label {
    font-size: 1.2em;
}

input[type="text"] {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.button-container {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    margin-top: 20px;
    gap: 20px; /* Espaço entre os botões */
}

input[type="button"],
input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    width: 150px; /* Largura fixa para os botões */
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    background-color: #0056B3;
}

select {
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1em;
    appearance: none; /* Remove o estilo padrão do select */
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="292.362" height="292.362" viewBox="0 0 292.362 292.362"><path fill="%23333" d="M287.812 69.61L166.13 191.293c-7.057 7.057-18.503 7.057-25.559 0L4.551 69.61c-7.811-7.811-2.285-21.189 8.756-21.189h265.496c11.038 0 16.562 13.379 8.756 21.189z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
}

select:focus {
    outline: none;
    border-color: #007BFF;
}